/* * {
    margin: 0;
    padding: 0;
}
*/
h1 {
    margin-top: 10px;
    margin-bottom: -25px;
    color: rgb(219, 161, 36);
    text-align: center;
    font-size: 75px;
} 

body {
    background-color: black;
    background-image: url('/assets/Summoners-Rift.jpg');
    background-attachment: fixed;
    font-family: 'Cinzel', serif;
}

 .container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*grid-template: 1fr 1fr 1fr 1fr/1fr 1fr 1fr;*/
    /*gap: 20px;*/
} 

/* .card {
    margin-top: 20px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    background-color: rgb(226, 255, 255);
    max-width: 450px;
    height: 320px;
    width: 378px;
    margin-bottom: 10px;
} */
/* 
.card:hover {
    cursor: pointer;
    background-color: rgb(135, 158, 158);
} */

/* .img-card {
    border-radius: 20px;
    padding-top: 10px;
    height: 200px;
}

h5 {
    font-size: 50px;
}

#txt {
    text-transform: capitalize;
} */